*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(255, 233, 215);
    color: #fff;
}
#header{
    
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 3%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    position: relative;
}

#home{
    margin: 0 30px;
    background-color: rgb(22, 7, 65);
    height: 80vh;
    border-radius: 7px;
}

.container h1{
    font-size: 80px;
    padding-top: 9%;
    text-align: center;
    align-content: center;
}

.container p{
    font-size: 20px;
    padding-top: 3%;
    text-align: center;
    align-content: center;
}


.heading{
    text-align: center;
}

.top{
    text-align: right;
    background-color: rgb(212, 189, 161);
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }