<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/quizzer/static/css/style.css">

    <style>
        .button {
    background-color: #49a4c0; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button-place{
    display: flex;
    justify-content: center;
  }
  body{
    background-color: rgb(215, 243, 250);
  }
    </style>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <ul id="side menu">
                    
                </ul>
            </nav>
        </div>
    </div>
    <div id="home">
        <div class="container">
            <h1> Welcome to Quizzer </h1> 
            <p>Test your knowledge about Technology <br>BEST OF LUCK!</p>
            <br><br>
            <div class="button-place">
            <a href="{% url 'home'%}" class="button">Start Quiz</a>
            </div>
        </div>
    </div>
</body>
</html>