<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/quizzer/static/css/style.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <ul id="side menu">
                    
                </ul>
            </nav>
        </div>
    </div>
    <div id="home">
        <div class="container">
            <h1> Welcome to Quizzer </h1> 
            <p>Test your Knowledge about technology <br>Best of LUCK !</p>
            <a href="{% url 'home'%}"><button>Start Quiz</button></a>
        </div>
    </div>
</body>
</html>