<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="static/quizzer/style.css">
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <ul id="side menu">
                    <li> <a href="{%url 'home'%}">Home</a></li>
                    <li> <a href="{%url 'quize'%}">Quize</a></li>
                    <li> <a href="#">User</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="home">
        <div class="container">
            {% block h1 %} {% endblock h1 %}
            {% block p %} {% endblock p %}
        </div>
    </div>
    <div id="quize">
        <div class="container">
            {% block p1 %} {% endblock p1 %}
        </div>
    </div>
</body>
</html>